<% layout('layouts/boilerplate')%>

<h1>NEW LIST OF UMBUTHANO WEZINYANGA ZAMAGUMBI AMANE OMHLABA. START FROM O5 DEC 2022. TO 11 DEC 2022</h1>


<!DOCTYPE html> 
<html>
<head>
<style>
  table, th, td { 
            border: 1px solid black; 
            border-collapse: collapse;
            background-color: #e0c780; 
        } 
          
        th, td { 
            padding: 20px; 
        } 
          
        th { 
            text-align: left; 
        } 
</style>
</head>   
<body>   
    <table style="width:100%">
    <caption style="font-weight: bold;font-size: 25px">UNGANQOTSHWA NGOKUBI KODWA NQOBA OKUBI NGOKUHLE.</caption> 
        <tr> 
            <th>Date</th> 
            <th>In the Morning</th> 
            <th>Evening</th> 
        </tr> 
        <tr> 
            <td><b>Monday</b>  05 DEC 2022</td> 
            <td>Dist Thango Director</td> 
            <td>ist Lembethe Mhloli</td> 
        </tr> 
        <tr> 
            <td><b>Tueday</b> 06 DEC 2022</td> 
            <td>Dist Mavundla Esiswini</td> 
            <td>Dist Nkome Indendende</td> 
        </tr> 
        <tr> 
            <td><b>Wednessday</b> 07 DEC 2022</td> 
            <td>Dist Mncwabe Khathin</td> 
            <td>Dist Mgcina Inqolobane</td> 
        </tr> 
        <tr> 
            <td><b>Thurday</b> 08 DEC 2022</td> 
            <td>Dist Zwane Molweni</td> 
            <td>Dist Ndlela Matatiyela</td> 
        </tr> 
        <tr> 
            <td><b>Friday</b> 09 DEC 2022</td> 
            <td>Dist Mthembu Mpumuz</td> 
            <td>Dist Khumalo IT Man</td> 
        </tr> 
        <tr> 
            <td><b>Saturday</b> 10 DEC 2022</td> 
            <td>Dist Nzimande Junior</td> 
            <td>Dist Nkosi Madubula</td> 
        </tr> 
        <tr> 
            <td><b>Sunday</b> 11 DEC 2022</td> 
            <td>Dist Luthuli Hot Iron</td> 
            <td>Dist Tshezi Thixo</td> 
        </tr> 
    </table>   
</body>