    <% layout('layouts/boilerplate')%>
    <form action="/inyanga/<%=inyanga._id%>?_method=PUT" method="POST">
        <div> 
            <label for="name">Name</label>
            <input type="text" id="name" name ="inyanga[name]" value="<%=inyanga.name%>">
        </div>

        <div>
            <label for="surname">Surname</label>
            <input type="text" id="surname" name ="inyanga[surname]"value="<%=inyanga.surname%>">
        </div>
        <button>Save Changes</button>
    </form>
        <a href="/inyanga/<%=inyanga._id%>">Back to Izinyanga</a>
