<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inyanga</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Zonke Inyanga</h1>
    <ul>
        <% for (let nyanga of inyanga) { %> 
            <li><a href="/inyanga/<%= nyanga._id %>"><%= nyanga.name %></a></li>
            <%}  %> 
    </ul>
</body>
</html>