<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Show</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <h1> <%= inyanga.name %></h1>
    <h2><%= inyanga.surname %></h2>
<footer>
    <a href="/inyanga">All Doctors</a>
</footer>
</head>
<body>
    
</body>
</html>